body {
    font-family: 'Comfortaa', sans-serif;
    margin: 50px;
    background-color: #222222;
    color: white;
    
};
div {
    text-align: center;
};
a:link {
    color: skyblue;
    background-color: transparent;
    text-decoration: none;
};
a:visited {
    color: lavender;
    background-color: transparent;
    text-decoration: none;
};
a:hover {
    color: lightskyblue;
    background-color: transparent;
    text-decoration: underline;
};
a:active {
    color: skyblue;
    background-color: transparent;
    text-decoration: underline;
};
button {
    background-color: transparent;
    border-radius: 5%;
};